{% if user.is_superuser and user.is_authenticated %}<li><a title="Admin" href="/admin/" target="_blank">{% trans "Admin" %}</a></li>{% endif %}
{% if user.is_authenticated %}
    <li>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            {% comment %} # TODO: clean up {% endcomment %}
            <a style="cursor: default;">
                <button title={% trans "logout" %} style="border:0; background-color: transparent; color: white; cursor: pointer;" class="narrow-padding right" type="submit"><i class="material-icons right">logout</i></button>
                {{user.username}}
            </a>
        </form>
    </li>
{% endif %}
{% if not user.is_authenticated %}
    <li><a title="login" href="{% url 'login' %}">{% trans "Log in" %}</a></li>
    <li><a title="register" href="{% url 'signup' %}">{% trans "Register" %}</a></li>
{% endif %}