{% comment %}

This file is intended to be used as a Django include file for the purpose of displaying
the nothing-to-see-here message:

    {% include 'bom/nothing-to-see.html' required_privilege=PPP %}
 
 where UUU is the includee's user profile variable for the currently logged-in user and PPP 
 is a string that denotes the role that user must have in order to gain access.

{% endcomment %}


<p>شما اجازه دیدن این صفحه را ندارید. برای دیدن این صفحه نیاز به دسترسی {{ required_privilege }} دارید. در صورت نیاز با ادمین سیستم {{ organization }} تماس بگیرید.</p>
