{% comment %}

This file is intended to be used as a Django include file for the purpose of displaying
the nothing-to-see-here message:

    {% include 'bom/nothing-to-see.html' required_privilege=PPP %}
 
 where UUU is the includee's user profile variable for the currently logged-in user and PPP 
 is a string that denotes the role that user must have in order to gain access.

{% endcomment %}


<p>{% blocktrans %}You do not have permission to view this page. Access requires {{ required_privilege }} privilege. Contact your system administrator at {{ organization }} if needed.{% endblocktrans %}</p>
