[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.16"
django-money = "==2.0"
google-api-python-client = "==2.8.0"
parameterized = "==0.9.0"
py-moneyed = "==1.2"
requests = "==2.31.0"
social-auth-app-django = "==4.0.0"

[dev-packages]

[requires]
python_version = "3.9"
