[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.11"
django-money = "==3.4.1"
google-api-python-client = "==2.121.0"
parameterized = "==0.9.0"
py-moneyed = "==3.0"
requests = "==2.31.0"
social-auth-app-django = "==5.4.0"
django-materializecss-form = "*"

[dev-packages]

[requires]
python_version = "3.9"
