[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-money = "*"
google-api-python-client = "*"
parameterized = "*"
py-moneyed = "*"
requests = "*"
social-auth-app-django = "*"
django-materializecss-form = "*"
sendgrid = "*"
whitenoise = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
black = "*"

[requires]
python_version = "3.12"
